pve_endpoint    = "https://192.168.1.50:8006/"
pve_insecure    = true
node_name       = "pve"
template_vm_id  = 9000
network_gateway = "192.168.1.1"
ssh_public_key  = "ssh-ed25519 AAAA... ton.email@example.com"
